<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add new Schedule</title>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" th:object="${objSchedule}" th:action="@{/schedule}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <div class="well" th:if="${message}!=null" th:text="${message}">

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Machine</label>
                <label>
                    <select th:field="*{machineId}">
                        <option th:each="machine : ${listMachines}"
                                th:value="${machine.getId()}"
                                th:text="${machine.getId()}">
                        </option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    pressOrder
                </label>
                <label>
                    <select th:field="*{pressOrderId}">
                        <OPTION th:each="pressOrder : ${listPressOrders}"
                                th:value="${pressOrder.getId()}"
                                th:text="${pressOrder.getId()}">
                        </OPTION>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Start hour</label>
                <span class="validationError"
                      th:if="#{fields.hasErrors('beginHour')}"
                      th:errors="*{beginHour}">Please use the correct format YYYY-MM-DD HH:MM
                </span>
                <label>
                    <input type="text" th:field="*{beginHour}"/>
                </label>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">End hour</label>
                <label>
                    <input type="text" th:field="*{endHour}"/>
                </label>
                <span class="validationError"
                      th:if="#{fields.hasErrors('endHour')}"
                      th:errors="*{endHour}">entryDatumError
                </span>
            </div>
            <div class="row">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>